version: "3.8"

services:
  jekyll:
    build:
      context: .
      args:
        MODE: dev
    container_name: jekyll-dev
    ports:
      - "4000:4000"
    volumes:
      - .:/srv/jekyll
    environment:
      - MODE=dev
    command: /srv/jekyll/entrypoint.sh
