---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---
#calendar-widget {
    max-width: 500px;
    font-family: "Poppins Light", Avenir, Arial, Helvetica, sans-serif;
  }
  #event-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
  }
  
  .day-heading, event-card {
	padding: 5px 6px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    display: flex;
    gap: 12px;
	align-items: baseline;
  }
  
  .day-heading {
	font-size: .9em;
	font-weight: bold;
  }
  .event-card {
	padding-left: 35px;
    align-items: baseline;
	font-size: .9em;
  }
  .event-time {
    font-size: 0.9em;
    color: #555;
    min-width: 60px;
	font-weight: bold;
  }
  .event-title {
	font-size: .9em;
  }
  #pagination {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #pagination button {
    padding: 4px 16px 8px 16px;
    border-radius: 6px;
    border: none;
    background: #0073e6;
    color: white;
    cursor: pointer;
	font-size: 0.9em;
	color: black;
  }
  #pagination button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  #pageIndicator {
    font-size: 0.9rem;
    color: #333;
  }  