---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---
@import url('https://fonts.cdnfonts.com/css/sparkling-moscow');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;&display=swap');


$body_color: #0020C2;
$body_font: Helvetica;
$main_color: blue;
$navbar_text_col: green;
$navbar_btn_color: #0000A0;
$dropdown_btn_color: #191970;
$logo_text_col: white;
$rick_h2_col: orange;
$rick_h3_col: black;
$rick_h4_col: black;
$rick_h5_col: black;
$main_h1_col: black;
$main_h2_col: b3ecff;
$main_h3_col: black;
$main_h4_col: black;
$main_h5_col: black;

*{
  margin:0;
  padding:0;
}
{% if site.data.body.font %}
body {
	font-family: $body_font;
} 
{% else %} 
body {
	font-family: "Poppins Light", Avenir, Arial, Helvetica, sans-serif;
}

{% endif %}

{% if site.data.body.col %}
body {
	background-color: $body_color;
}
{% else %}
body {
	background-color: #00008B;
}
{% endif %}

span {
	border: 0;
	margin: 0;
	padding: 0;	
}

a {
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none; /* Remove default underline */
    border-bottom: 1px solid blue; /* Custom underline.  Good for text but not for my logo area.*/
}

main {
	background-color: $main_color;
}

/* Adjust your main content margin */

main {
	margin-top: 110px; /* Adjust based on your navbar (Should this have been banner?) height */
}

#site-banner {
	padding: 25px 50px 25px 50px;
	background-color: #2E51FF;
}

#site-banner h1, h2, h3, h4, h5, h6 {
	font-family: "Poppins Light", Avenir, Arial, Helvetica, sans-serif;
	color: black;
}

#content_and_footer {
	padding-top: 50px;
}

@media (min-width: 1200px) {
	.intro-header .page-heading h1 {
		color: blue;
    }
}

#left-container {
	position: relative;
	left: 20px;
	top: 25px;
	background-color: transparent;
}

#navbg {
	position: absolute;
	left: 49px;
	top: 40px;
	width: 40px;
	height: 40px;
	opacity: 0.5;
}

#nav-left-1 {
	position: relative;
	left: 53px;
	top: 0px;
}

#nav-left-1 a {
	top: 0px;
    left: 0px;
	width: 88px;
	height: 160px;
	border-bottom: 0px;
}

#nav-left-1 a img {
	
}

#Redeemer {
	font-family: "Sparkling Moscow Bold";
	font-size: 1em;
	color: red;
	padding: 0px 20px 0 30px;
}

#Redeemer::first-letter {
	font-size: 1.3em;
}

#nav-left-2 {
	width: 140px;
	top: 20px;
	border: 0;
	margin: 0;
	padding: 0px 20px 0 10px;
	
}

/* Church Name */
#nav-left-2 a {
	display: block;
	width: 120px;
	margin-left: 20px;
	font-family: "Poppins Light", Avenir, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: justify;
	text-justify: inter-character;
	text-align-last: justify; /* Ensures the last line also fills the width */
	white-space: normal; /* Allows wrapping as needed */
	line-height: 1.2; /* Adjusts spacing for multi-line balance */
}

#left-container {
	width: 200px;
	margin: 0 0 0 0;
	padding: 0;
}



.highlight {
	
}
/* ---   Sticky Mechanics    --- */

#stuck-container {
	position: static;
	min-height: 100%;
	overflow: clip;
}

#site-navbar {
	position: sticky;
	top: 0px;
	right: 10px;
	float: right;
	z-index: 900;
}

#site-under-navbar {
    position: sticky;
	clear: both;
	height: 20px;
	z-index: 120;
}

/* --- End Sticky Mechanics  --- */

/* --- Navbar Mechanics (Include mechanics here, styling below --- */
/* Sticky and hidden allow the navbar to stop scrolling when it reaches the top. This works with site-navbar placed inside stuck-container, which has padding: 0 50px 0 50px;,position: static;, min-height: 100%;, and overflow: clip; */

#nav-container {
	position: relative;
}

#nav-container::after {
	content: "";
	display: table;
	clear: both;	
}

/* 1. Dropdown Button */ 
.dropbtn, .dropbtn-Home {
	display: inline-block;
	border: none;
}

/* 2. The container <div> -- needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;	
	z-index: 999;
}
	
/* 2b The container <div> just for the Home button */
#dropdown-Home {
	display: inline-block;	
	opacity: 0;
	z-index: 999;
}

/* 3. Dropdown Content (Hidden by Default) */	
.dropdown-content {
	display: none;
	position: absolute;
	left: -100px;
	z-index: 1;
	background-color: red; /* using color here just to see it. */
}

/* 4. Links inside the dropdown */
.dropdown-content a {
	display: block;
	z-index: 1;
}
	
/* 5. Change color of dropdown links on hover */
.dropdown:hover .dropdown-content {
	display: block;
}
	
/* 7. Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}

.dropdown-content:hover {
	display: block;
}
.dropcown-content a:hover {

}
/* --- End Navbar Mechanics --- */

/*   ---   Navbar Sizing   --- */

#nav-container a {
    
}

#nav-container ul li {
	height: 50px;
}

#nav-container::after {

}



/* 1. Dropdown Button */ 
.dropbtn, .dropbtn-Home {
	font-family: "Poppins Light", Avenir, Arial, Helvetica, sans-serif;
}

.dropbtn {
	padding: 50px 16px 0px 16px;
}
	
.dropbtn-Home {
	padding: 10px 16px 0px 16px;
}

/* 2. The container <div> -- needed to position the dropdown content */
.dropdown {

}

.dropdown a {
	font-family: "Poppins Light", Avenir, Arial, Helvetica, sans-serif;
}

/* 2b The container <div> just for the Home button */
#dropdown-Home {
	width: 84px;
}

/* 2c */
#dropdown-Home a {
	width: 84px;
	border-bottom: 0px;
}

#dropdown-Home a img {
	width: 34px;
	padding: 0px;
	border-bottom: 0px;
}

#dropdown-Home li {
	
}

/* 3. Dropdown Content (Hidden by Default) */	
.dropdown-content {
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* 4. Links inside the dropdown */
.dropdown-content a {
	/*float: none;*/
	width: 300px;
	padding: 12px 26px;
}
	
/* 5. Change color of dropdown links on hover */
.dropdown:hover .dropdown-content {

}
	
/* 7. Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}

.dropdown-content:hover {

}

/*   --- End Navbar Sizing --- */

/* ---    Navbar Styling    --- */

#site-navbar {
	/* ---    This is the whole bar behind the buttons.    --- */
	background-color: rgba(0, 0, 139, 0.75);
	font-size: 11pt;
	font-weight: bold;
	color: $navbar_text_col;
}

#site-navbar ul {

}

#site-under-navbar {
	background-color: transparent;
}

#nav-container {
}

#nav-container a {
}

#nav-container ul li {
	
}

#nav-container::after {
	
}

#left-container {
	
}

#nav-left-1 {
	
}

#nav-left-1 a {
	text-align: left;
	background-color: transparent;
}

#nav-left-1 a img {
	
}

#nav-left-2 {
    font-size: 12px;
}

/* Church Name */
#nav-left-2 a {
	display: block;
	font-size: .7em;
	text-align: left;
	color: $logo_text_col;
}

.highlight {
	
}

/* 1. Dropdown Button */ 
.dropbtn, .dropbtn-Home {
    /* These are the right controllers for the nav buttons. */ 	
	color: white; /* text color */ 
	font-size: 16px;
	background-color: $dropdown_btn_color;
}

.dropbtn {

}
	
.dropbtn-Home {

}

/* 2. The container <div> -- needed to position the dropdown content */
.dropdown {
	background-color: rgba(0, 0, 0, 0);	
}
	
/* 2b The container <div> just for the Home button */
#dropdown-Home {
	background-color: rgba(0, 0, 0, 0);	
}

/* 2c */
#dropdown-Home a {

}

#dropdown-Home a img {

}

#dropdown-Home li {
	text-decoration: none;
}

/* 3. Dropdown Content (Hidden by Default) */	
.dropdown-content {
	background-color: transparent;
	/* background-color: {{ site.data.body-col }}; */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* 4. Links inside the dropdown */
.dropdown-content a {
	/*float: none;*/
	background-color: $body_color;
	color: white;
	text-decoration: none;
	text-align: left;
}
	
/* 5. Change color of dropdown links on hover */
.dropdown:hover .dropdown-content {
	background-color: transparent;
	color: white;
}
	
/* 7. Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: $navbar_btn_color; 		
}

.dropdown-content:hover {
	background-color: $navbar_btn_color;
}
/* ---  End Navbar Styling  --- */

.page-subheading {
	color: gainsboro;
	font-size: 1rem;
	font-style: italic;
}



ol c {
	list-style-type: upper-roman;
}

h1 {
	color: white;
}

{% if site.data.rick-h3-col %}
h3 {
	color: $rick_h3_col; /* site.data.rick-h3 */
}
{% endif %}
{% if site.data.rick-h2-col %}
h2 {
	color: $rick_h2_col; /* site.data.rick-h2 */
}
{% endif %}

{% if site.data.rick-p-col %}
p {
	color: $rick_p_col; /* site.data.rick-p-col */
}
{% endif %}

main h1 {
	color: $main_h1_col;
}
main h2 {
	color: $main_h2_col;
}
main h3 {
	color: $main_h3_col;
}
main h4 {
	color: $main_h4_col;
}
main h5 {
	color: $main_h5_col;
}

a:link,
a:visited,
a:hover
a:active {
	color: white;
	text-decoration: none;
}

.fixed-position {
  position: fixed;
  opacity: 1;
  top: 0;
  width: 100%;
  border-width: 1px;
  border-color: red;
  border-style: solid;
}

div.level-2-heading h1 {
  padding-top: 25px;
  text-align: center;
  font-family: "Poppins Light", Avenir, Arial, Helvetica, sans-serif;
  color: orange;
}

div.home-content, div.listing-content {
  padding: 50px;
}

div.framebox {
  display: flex;
  justify-content: center; /* Horizontally centers content */
  align-items: center;    /* Vertically centers content */
  min-height: 100vh;      /* Ensures container takes full viewport height for vertical centering */
  /* Or set a specific height if you don't want it to take full viewport */
  /* height: 500px; */
}

h2.subheading {
	color: #E6EAFF;
	padding-top: 15px;
	text-align: center;
	font-style: italic;
}

#lamb img {
	position: relative;
	left: 0;
	top: 20px;
	z-index: 2;
	border-color: green; 
	border-style: dotted;
	border-width: 1px;
}

#halo img {
    position: absolute;
    top: 0;
	margin-top: 50px;
    margin-left: 175px;
    width: 42px;
    height: 42px;
	z-index: -1;
	border-color: red; 
	border-style: dotted;
	border-width: 1px;
}

#Redeemer {
	left: 20px;
	letter-spacing: 4px;
}

p {
	padding-bottom: 1em;
}